<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="favicon.ico">
</head>
<body>
<form action="/up" method="post" enctype="multipart/form-data">
    <input name="image" type="file">
    <input name="image" type="file">
    <label>
        <input name="userid" type="text">
    </label>
    <label>
        <input name="type" type="text">
    </label>
    <label>
        <input name="describe" type="text">
    </label>
    <input type="submit" value="提交">
</form>
</body>
</html>